/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/

/* element styles */
h2{padding: 10px 0px}

.body {padding: 5px}

/* uls */
.no_bullet_list{list-style-type: none;}

.horizontal_list{display: inline;}

/* tables */
.products td:nth-child(1), .products td:nth-child(2), .products td:nth-child(4), .products td:nth-child(5){
	width:1px;
}

/* div tables */
.table{display: table;}
.row{display: table-row; border-spacing: 5px;}
.cell{display: table-cell;}

/* images */
.itemImage{float:left; margin: 5px; padding: 5px; border: 1px solid black}

/* buttons */
.add_to_cart{background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#008080), to(#008080));
background-color: #008080; color: #ffffff;
border: solid 1px #016eb9;
width: 100%; }

.add_to_cart:hover{background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#008080), to(#008080));
background-color: #008080; color: #ffffff;
border: solid 1px #016eb9;
width: 100%; }

.add_to_cart:active{background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#008080), to(#008080));
background-color: #008080; color: #ffffff;
border: solid 1px #016eb9;
width: 100%; }

.add_to_cart:visited{background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#008080), to(#008080));
background-color: #008080; color: #ffffff;
border: solid 1px #016eb9;
width: 100%; }

.item_added_to_cart{
	background-color: #85FF81;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#85FF81), to(#85FF81));
	border: solid 1px #016eb9;
	width: 100%;
}

.item_added_to_cart:hover{
background-color: #85FF81;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#85FF81), to(#85FF81));
	border: solid 1px #016eb9;
	width: 100%;
}
.item_added_to_cart:active{
background-color: #85FF81;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#85FF81), to(#85FF81));
	border: solid 1px #016eb9;
	width: 100%;
}
.item_added_to_cart:visited{
background-color: #85FF81;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#85FF81), to(#85FF81));
	border: solid 1px #016eb9;
	width: 100%;
}

/* misc */
.full_width{width:100%;}

.right{float:right;}

.fileinput{padding-bottom: 10px;}